from .settings import * # noqa

DJANGO_VITE_DEV_MODE = True

INTERNAL_IPS = ["127.0.0.1"]

INSTALLED_APPS += (
    'debug_toolbar',
)

MIDDLEWARE += (
    "debug_toolbar.middleware.DebugToolbarMiddleware",
)

DEBUG_TOOLBAR_CONFIG = {
    'SHOW_TOOLBAR_CALLBACK': lambda request: False,
}
