<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% comment %} {% vite_asset 'static/frontend/src/main.tsx' %} {% endcomment %}
    {% block bundle %}
    {% endblock %}

    {% block title %}
    {% endblock %}
    {% comment %} <title>Django Vite Example</title> {% endcomment %}
  </head>

  <body>
    {% block content %}
    {% endblock %}
    {% comment %} <div id="root"></div> {% endcomment %}
  </body>
</html>